  /* 학생정보 입력 폼 스타일시트(student_insert.css) */
  
  table {width:400px; border-collapse:collapse; border:2px solid black;}
  caption {font-size:20pt; font-weight:bold;}
  th, td {border:1px solid grey; padding:3px;}
  th {width:25%; background-color:#CFD0ED; text-align:left;}
  td {background-color:#FAFAEE; text-align:left;}
  
  .center {
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }